/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body { height: 100%; }
body { margin: 0;font-size: small; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-list-base .mat-list-item, .mat-header-cell, .mat-cell, .mat-footer-cell {
    font-size: 0.8em !important;
}
.material-icons {
    font-size: 18px !important;
}